.back {
  position: absolute;
  top: 22px;
  left: 24.5px;
}

.title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.08em;
  font-weight: 600;
  color: #1d1f22;
  margin-left: 64px;
  padding-top: 18px;
}

.check-container {
  height: 52px;
  margin-top: 17px;
  display: flex;
}

.check-in-out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.days-container {
    height: 46px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 24px;
    padding: 0 24px;
}

.days-names {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8E8F90;
}

.datebox-container {
  height: 72vh;
  overflow: scroll;
  margin-top: 24px;
  padding: 0 24px;
}
